# IDE
.settings
.classpath
.project
.idea/**
.factorypath
**/*.iml

# Build
**/target
**/lib
**/surefire-reports-aggregate
**/dependency-reduced-pom.xml
/.h2Start.sh.swp
/legend-pure-m3-core/gen/
/legend-pure-m3-core/src/main/antlr4/org/finos/legend/pure/m3/serialization/grammar/m3parser/antlr/core/gen/
